/* GERAL */
/* * {
    box-sizing: border-box;
} */
body, p, h1, h2, input, textarea {
    margin: 0;
    font-family: Roboto;
}
h2 {
    font-size: 30px;
}

/* NAVBAR */
#navbar {
    background-color: #242526;
    color: #fff;
    padding: 0 15px;
    height: 60px;
}

#navbar h2, #navbar ul, #navbar-list li, #navbar nav {
    display: inline-block;
}

#navbar h2 {
    margin: 0;
    line-height: 60px;
    margin-left: 55px;
}

#navbar img {
    height: 40px;
    position: absolute;
    top: 10px;
}

#navbar nav {
    float: right;
}

#navbar ul {
    margin-top: 22px;
}

#navbar li {
    margin: 0 10px;
}

#navbar-list li a {
    text-decoration: none;
    color: #fff;
}

#navbar-list li a:hover {
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
}

/* BANNER */
#main-banner {
    height: 60vh;
    background-image: url(../img/bg-banner.png);
    background-size: cover;
    padding-top: 10vh;
    /* background-position: 0px; */
}

#banner-info {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #fff;
    padding: 50px;
}

#banner-info img {
    height: 180px;
    border-radius: 50%;
    background-color: #22A2F2;
    margin-top: 40px;
    margin-bottom: 30px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

#banner-info img:hover {
    box-shadow: 0px 0px 6px #2793F2;
}

#banner-info p {
    background-color: #F28F16;
    font-weight: bold;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}

/* ABOUT */
#about-section {
    text-align: center;
    background-color: #242526;
    color: #fff;
    padding-top: 70px;
    height: 350px;
}

#about-section h2 {
    margin-bottom: 20px;
}

#about-section p {
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
    line-height: 30px;
}

/* SKILLS */
#skills-section {
    margin-top: -120px;
    background-color: #D9D6D2;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #22A2F2;
    border-radius: 10px;
}

#skills-section .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.skills-container {
    flex: 1 1 1;
    text-align: center;
    padding: 60px 25px;
}

.central {
    border-left: 1px solid #22A2F2;
    border-right: 1px solid #22A2F2;
}

.bdsup {
    border-top: 1px solid #22A2F2;;
}

.skills-container h3 {
    color: #2793F2;
    font-size: 24px;
}

.skills-container img {
    height: 80px;
    /* padding: 5px; */
    margin-bottom: 25px;
    border-top: 1px solid #242526;
    border-left: 1px solid #242526;
    border-bottom: 4px solid #242526;
    border-right: 4px solid #242526;
}

.skills-container .subtitle {
    font-weight: bold;
    color: #2793F2;
    margin-top: 50px;
    margin-bottom: 15px;
}

.skills-container p {
    line-height: 25px;
}

/* JOBS */
#jobs-section {
    text-align: center;
    padding-top: 100px;
}

#jobs-section h2 {
    color: #242526;
    margin-bottom: 30px;
}

#jobs-section p {
    margin-bottom: 50px;
}

#jobs-section a {
    font-weight: bold;
    color:#22A2F2;
}

.job-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.job-box {
    flex: 1 1 200px;
    margin-left: 25px;
    margin-right: 25px;
    height: 300px;
    background-size: cover;
    border-right: 2px solid #242526;
    border-bottom: 2px solid #242526;
}

.proj1 {
    background-image: url(../img/proj1.jpg);
}
.proj2 {
    background-image: url(../img/proj2.jpg);
}
.proj3 {
    background-image: url(../img/proj3.jpg);
}

/* FOOTER */
footer {
    padding: 50px 0;
    background-color: #242526;
    color: #fff;
    text-align: center;
}

footer img {
    height: 80px;
    margin: 30px 0;
}

footer p {
    margin-top: 25px;
}

footer form {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

footer input, footer textarea {
    border: none;
    padding: 15px;
    box-sizing: border-box;
    margin-bottom: 20px;
    width: 100%;
    display: block;
}

footer .detail {
    font-weight: bold;
}

/* RESPONSIVO */
@media(max-width: 450px) {
    /* GERAL */
    p, input, textarea {
        font-size: 1.2rem;
    }
    
    /* NAVBAR */
    #navbar h2 {
        display: none;
    }
    #navbar img {
        top: 9px;
    }
    #navbar ul {
        margin-top: 1.2rem;
    }

    /* BANNER */
    #main-banner {
        height: 40vh;
        padding-top: 5vh;
        padding-bottom: 10vh;
    }
    #banner-info {
        width: 60%;
        padding: 10px;
    }
    #banner-info img {
        height: 150px;
    }
    #banner-info p {
        margin: 0;
        width: auto;
    }

    /* ABOUT */
    #about-section {
        padding: 2rem;
        height: auto;
        padding-bottom: 50px;
    }

    /* SKILLS */
    #skills-section {
        margin-top: -35px;
        width: 90%;
    }
    #skills-section .container {
        flex-direction: column;
    }
    .skills-container h3, .skills-container .subtitle {
        font-size: 1.3rem;
    }
    .skills-container.central {
        border-left: none;
        border-right: none;
        border-top: 1px solid #22A2F2;
    }
    .bsmob {
        border-top: 1px solid #22A2F2;
    }

    /* JOBS */
    #jobs-section h2, #jobs-section p {
        width: 85%;
        margin-left: auto;
        margin-right: auto;
    }

    .job-container {
        flex-direction: column;
        margin-bottom: 0;
    }
    .job-box {
        margin-bottom: 2rem;
        flex: 1 1 300px;
    }

    /* FOOTER */
    footer {
        padding: 50px 15px;
    }
    footer form {
        width: 100%;
    }
    .detail {
        margin-top: 10px;
        display: block;
    }
}
