* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --corTexto: #f33;
    --fonteTitulo: 3em;
    --corDiv: #555;
    --p10: 10px;
    --m10: 10px;
}

div {
    width: 250px;
    height: 250px;
    background-color: var(--corDiv);
    margin-top: var(--m10);
}

p {
    color: var(--corTexto);
}

h2 {
    color: var(--corTexto);
    font-size: var(--fonteTitulo);
}

.box-01 {
    padding: var(--p10);
}